/* @source http://codepen.io/scurker/pen/bZJYZY */

.wrapper {
  width: 20em;
  text-align: center;
}

.loader {
  color: #999;
  font-size: 20px;

  width: 2.5em;
  height: 1em;
  margin: 0 auto;

  background: radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) 0 0,
				radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) .75em 0,
				radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) 1.5em 0;
  background-repeat: no-repeat;
  background-size: .5em .5em, .5em .5em, .5em .5em;

  animation-mode: forwards;
  animation: loader 1s infinite;
}

@keyframes loader {
  20% {
    background-position: 0 .2em, .75em 0, 1.5em 0;
  }

  30% {
    background-position: 0 .4em, .75em .2em, 1.5em 0;
  }

  40% {
    background-position: 0 .2em, .75em .4em, 1.5em .2em;
  }

  50% {
    background-position: 0 0, .75em .2em, 1.5em .4em;
  }

  60% {
    background-position: 0 0, .75em 0, 1.5em .2em;
  }

  70% {
    background-position: 0 0, .75em 0, 1.5em 0;
  }
}
