.fieldset {
  border: none;
}

.submit {
  composes: button from "styles/button.css";

  background: $background;
  border-color: $primary;
  margin-left: 1em;
}

.input {
  composes: input from "styles/input.css";

  border-color: $primary;
}
